:root {
/* Light theme color tokens */
  --color-primary-light: #435B33;
  --color-secondary-light: #B58C87;
  --color-accent-light: #0F254B;
  --color-tertiary-light: #4A4E27;
  --color-quaternary-light: #406758;
  --color-focus-light: #435B33;
}

/* Inject dark theme tokens */
@media (prefers-color-scheme: dark) {
  :root {
  --color-primary-dark: #577642;
  --color-secondary-dark: #7e625e;
  --color-accent-dark: #133061;
  --color-tertiary-dark: #606532;
  --color-quaternary-dark: #538572;
  --color-focus-dark: #577642;
  }
}
