/* Dynamic color variables - Updated 2025-06-03T16:55:32.355Z */
:root {
  /* Light theme color tokens */
  --color-primary-light: #0A1329;
  --color-secondary-light: #F2B237;
  --color-accent-light: #3983D7;
  --color-tertiary-light: #E05B25;
  --color-quaternary-light: #2F113C;

  /* Main theme variables */
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);
  --color-tertiary: var(--color-tertiary-light);
  --color-quaternary: var(--color-quaternary-light);
}

/* Inject dark theme tokens */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme color tokens */
  --color-primary-dark: #0d1835;
  --color-secondary-dark: #a97c26;
  --color-accent-dark: #4aaaff;
  --color-tertiary-dark: #ff7630;
  --color-quaternary-dark: #3d164e;

    /* Update main theme variables */
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
    --color-tertiary: var(--color-tertiary-dark);
    --color-quaternary: var(--color-quaternary-dark);
  }
}